<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <title>Vue Make Life Easy</title>
</head>

<body>
    <div id="app">
        <h1 v-once>{{ title }}</h1>
        <input type="text" v-on:input="changeTitle">
        <p>{{sayHello()}} - <a v-bind:href="link">Google Link</a></p>

        <p v-html="finishedLink"></p>

        <div>
            <button v-on:click="increase(2, $event)">Click to Increase</button>
            <p>{{counter}}</p>
            <p v-on:mousemove="updateCoordinates">Coordinates: {{x}}/{{y}}</p>
            --- <span v-on:mousemove.stop="">DEA SPOT</span>
        </div>

        <input type="text" v-on:keyup.enter.space="alertMe">

        <hr>

        <input type="text" v-model="name">
        <p>{{ name }}</p>

    </div>

    <script src="js/one.js"></script>
</body>

</html>